/* Global */
@font-face {
    // font-family: sukar;
    // src: url(../fonts/Sukar-Regular.ttf);
    font-family: cairo;
    src: url(../fonts/Cairo-Regular.ttf);
}
body{
    font-family: cairo;
}
/*=============Start Our Framework ==============*/
.home{
    .row{
        margin: 0px;
        .left{
            text-align: right;
            padding: 60px;
            .hadth-title{
                color: #68298E;
                font-weight: 900;
                margin: 30px 0;
            }
            .hadath-intro{
                font-size: 22px;
                margin: 30px 0px;
                line-height: 2;
                color: #818183;
            }
            .contact{
                background: #662e91;
                color: #FFF;
                margin: 30px 0;
            }
            .social{
                display: inline-block;
                margin: 10px 20px;
                li{
                    list-style: none;
                    display: inline-block;
                    a{
                        color: #662e91;
                        border: 2px solid #662e91;
                        width: 40px;
                        height: 40px;
                        display: inline-block;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 40px;
                        margin: 0px 10px;
                        .fa{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .right{
            background: url("../img/right.png") no-repeat;
            background-size: cover;
        }
    }
}

footer{
    background: #68298E;
    color: #FFF;
    padding: 15px 0;
    p{
        margin: 10px 0;
        a{
            color: #FFF;
            font-weight: bold;
            &:hover{
                color: #FFF;
            }
        }
    }
    .social{
        margin: 10px 0;
        text-align: right;
        li{
            list-style: none;
            display: inline-block;
            a{
                color: #FFF;
                border: 2px solid #FFF;
                width: 40px;
                height: 40px;
                display: inline-block;
                border-radius: 50%;
                text-align: center;
                line-height: 40px;
                margin: 0px 10px;
                .fa{
                    font-size: 20px;
                }
            }
        }
    }
}

/*=============End Our Framework ==============*/